<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div th:each="pedido : ${pedidos}" class="card">
			<div th:text="${pedido.nomeProduto}" class="card-header">Nome
				Produto</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-6 mb-3">
						<div class="row">
							<div class="col-md-5">
								Valor <span th:text="${pedido.valorNegociado}">R$ 240,90</span>
							</div>
							<div class="col-md-7">
								Data da Entrega <span th:text="${pedido.dataEntrega}">19/12/2020</span>
							</div>
						</div>
						<div>Produto</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProduto}"
								value="URL do Produto"></input>
						</div>
						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}"> Descrição do Produto </textarea>
						</div>
					</div>
					<div class="col-12 col-sm-6 ">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagemProduto}" src:"" />
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>